<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

   <% if @user.description %>


    <% if @status == "stale" %>
      <div class="waiting_message info">
        <p> Please wait your bio is loading...</p>
        <img src="/ajax-loader.gif">
      </div>
    <% end %>

  
  <%= erb :info %>
  

  <% else %>

      <div class="waiting_message info">
        <p> Please wait your bio is loading...</p>
        <img src="/ajax-loader.gif">
      </div>

  <% end %>


</div>
