<div class="container">
  <h1>Welcome to Tweet Now!</h1>

  <form action='/user' method="get">
    <input name="username" placeholder="Enter username...">
    <input type="submit" value="fetch tweets">
  </form>

  <br><br>

  <form id="submit_tweet_form" action='/tweet' method="post">
    <textarea rows="3" cols="50" name="tweet" placeholder="Type your tweet here..."></textarea>
    <input type="submit" value="post tweet">
  </form> 

  <div class="waiting_message tweet_post" style="display: none">
     <p> Please wait your tweet is being processed...</p>
     <img src="/ajax-loader.gif">
  </div>
</div>
