<div class="container">
  
  <h1><%= @user.username %>'s recent tweets</h1>

   <% if @tweets %>


    <% if @status == "stale" %>
      <div class="waiting_message tweets">
        <p> Please wait your tweets are loading...</p>
        <img src="/ajax-loader.gif">
      </div>
    <% end %>

    
    <%= erb :tweets %> 
  

  <% else %>

      <div class="waiting_message tweets">
        <p> Please wait your tweets are loading...</p>
        <img src="/ajax-loader.gif">
      </div>

  <% end %>


</div>
